*{
    padding: 0;
    margin: 0;
    font-family: system-ui;
    font-size: 40px;
    font-weight: 600;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    width: 450px;
    border-radius: 8px;
    text-align: center;
}
H1{
    padding-bottom: 30px;
    font-weight: 800;
    letter-spacing: 3px;

}
#input{
    width: 96%;
    border: 4px solid #D0D0D7;
    background-color: black;
    padding: 10px 5px;
    color: #D0D0D7;
}
input:focus,input:active{
    outline: none;
}
button{
    cursor: pointer;
}
.buttons{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    
}
.numbers{
    display: grid;
    grid-template-columns:
     1fr 1fr 1fr
     ;
}
.operators{
    display: flex;
    flex-direction: column;
}
.equal_clear{
    display: flex;
    flex-direction: column;
}
.equal_clear button{
    height: 200%;
}